@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Proza+Libre:wght@400;600&display=swap");
*:not([type=radio]) {
  border-radius: 0 !important;
}

.brand {
  text-transform: uppercase;
}

body {
  font-family: "Proza Libre", sans-serif;
  color: #1a1a1a;
  line-height: 1.6;
}

a:link,
a:visited {
  font-family: inherit;
  text-decoration: none;
}
a:link, a:link:hover,
a:visited,
a:visited:hover {
  color: inherit;
}

.heading-secondary,
.heading-tertiary {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  transition: 0.3s;
  display: inline-block;
}
.heading-secondary:hover,
.heading-tertiary:hover {
  transform: skew(-20deg);
}

.heading-secondary {
  font-weight: 500;
}

.heading-product {
  font-size: 1.5rem;
}

.slider__heading {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.slider__text {
  margin: 0;
  font-size: 0.8rem;
}

.icon {
  height: 1.5rem;
  transition: 0.3s;
}
.icon-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.cross-icon {
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.cross-icon:hover {
  background-color: #1a1a1a;
}
.cross-icon:hover .icon {
  stroke: #e8ded1;
}

.btn {
  transition: 0.5s;
  position: relative;
}
.btn--main {
  background-color: #1a1a1a;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn--main:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(26, 26, 26, 0.2);
}
.btn--main:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  background-color: #1a1a1a;
  opacity: 0;
}
.btn--main:active, .btn--main:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(26, 26, 26, 0.2);
}
.btn--main::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.btn--check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: inherit;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}
.btn-check:checked + .btn--check {
  background-color: #1a1a1a;
  color: #fff;
  box-shadow: none;
}

.lazy-container {
  overflow: hidden;
}
.lazy-img {
  filter: blur(10px);
}

.accordion-button {
  padding: 0.5rem 1.5rem !important;
  background-color: #e8ded1 !important;
  color: inherit !important;
  box-shadow: inset 0 -1px 0 rgba(232, 222, 209, 0.13) !important;
}
.accordion-button::after {
  filter: grayscale(1) !important;
}

.product-card {
  position: relative;
  overflow: hidden;
}
.product-card:hover .bookmark-icon, .product-card:hover .cart-icon {
  transform: translateX(0);
}
.product-card__img {
  transition: 0.5s;
}
.product-card__heading {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
.product-card__cat {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.product-card:hover .product-card__img {
  filter: blur(3px);
}

.bookmark-icon {
  position: absolute;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  transform: translateX(-5rem);
  transition: 0.3s;
}
.bookmark-icon .icon {
  width: 2rem;
  height: 2rem;
  stroke: #bab2a7;
}

.cart-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  transform: translateX(5rem);
  transition: 0.3s;
}
.cart-icon .icon {
  width: 2rem;
  height: 2rem;
  stroke: #bab2a7;
}

.bookmarked .bookmark-icon .icon,
.carted .cart-icon .icon {
  fill: #bab2a7;
}

.upper-nav {
  padding-bottom: unset;
}

.main-nav {
  padding-top: unset;
}
.main-nav .nav-link {
  color: inherit;
  text-transform: capitalize;
  transition: 0.3s;
}
.main-nav .nav-link:hover {
  text-shadow: 0 5px 10px rgba(26, 26, 26, 0.75);
}

.header {
  border-top: 8px solid #e8ded1;
}
.header .logo {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 10px;
  transition: 0.3s;
}
.header .logo:hover {
  transform: skew(-20deg);
}
.header__icon {
  fill: transparent;
  transition: 0.3s;
}
.header__icon:hover {
  fill: #1a1a1a;
}

.cta {
  background-color: #e8ded1;
  margin-bottom: 8rem;
}
.cta__img {
  height: 15rem;
}
.cta__img img {
  transform: translateY(-3rem);
  object-fit: cover;
}

.footer {
  padding-top: 4rem;
  background-color: #e8ded1;
  border-bottom: 8px solid #1a1a1a;
}
.footer__link {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1a1a1a;
  transition: 0.3s;
}
.footer__link:hover::before {
  width: 100%;
}
@media only screen and (max-width: 36em) {
  .footer .icon-list {
    justify-content: center;
  }
}

.hero-action {
  margin-bottom: 8rem;
  background-image: url(../img/cart-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-action__heading {
  width: fit-content;
  max-width: 100%;
  background-color: #e8ded1;
  margin-bottom: 0;
  padding: 2rem 1rem;
  font-size: 2.5rem;
}

.bookmarks {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1rem;
  background-color: #e8ded1;
  z-index: 9000;
  transform: translateX(150%);
  transition: 1s;
  overflow-y: auto;
}

.preview {
  align-items: center;
  gap: 3rem;
  padding: 1rem 0.5rem;
}
.preview .preview__fig {
  position: relative;
}
.preview .preview__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #e8ded1, #efe8df);
  opacity: 0.4;
}
.preview__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: bottom;
}
.preview__title {
  font-size: 1rem;
  font-weight: 600;
}
.preview__cat {
  font-size: 0.8rem;
  margin: 0;
}

.hero {
  margin-bottom: 8rem;
}
.hero__home .row {
  max-height: 40rem;
  overflow: hidden;
}
@media only screen and (max-width: 62em) {
  .hero__home .row {
    max-height: unset;
  }
}
@media only screen and (min-width: 78.5em) {
  .hero__home .row {
    max-height: 45rem;
  }
}
.hero__img--big {
  transform: translateY(-3rem);
}
.hero .left-col {
  background-color: #e8ded1;
}
.hero__text {
  padding: 3.6rem;
}

.gallery {
  margin-bottom: 8rem;
}
.gallery__img {
  position: relative;
}
.gallery__img--big {
  height: calc(100% - 1.5rem);
  object-fit: cover;
}
.gallery .figure-caption {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(232, 222, 209, 0.8);
  width: 90%;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
}

.section-about {
  padding-bottom: 8rem;
}
.section-about::after {
  content: "FASHION";
  font-family: "Cormorant Garamond", serif;
  color: #f8f8f8;
  position: absolute;
  bottom: 0;
  transform: translateY(15%);
  font-size: clamp(5rem, 20vw, 15rem);
}
@media only screen and (max-width: 62em) {
  .section-about::after {
    display: none;
  }
}

.about {
  background-color: #efe8df;
}
.about__text {
  z-index: 1;
}

.new {
  margin-bottom: 8rem;
}
.new .slider {
  background-color: #efe8df;
  overflow: hidden;
  flex-wrap: nowrap;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .new .slider {
    flex-wrap: wrap;
  }
}
.new .slider__img {
  height: 12rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.new .slider:active {
  cursor: grabbing;
}

.hero__shop {
  background-image: url(../img/hero-shop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5rem;
}
@media only screen and (max-width: 48em) {
  .hero__shop {
    background-position-y: 0;
  }
}
.hero__text {
  background-color: #e8ded1;
}

.market {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 36em) {
  .market__sort {
    font-size: 0.8rem;
  }
}
.market .sort-select {
  border: none;
  background: none;
  outline: none;
}
.market .sort-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.market .form-check-input:checked {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.market__pagination .page-link {
  border: none;
}
.market__pagination .page-item.active .page-link {
  background-color: #1a1a1a;
}
.market__slider {
  margin-top: 2rem;
  height: 2px;
  border: none;
}
.market__slider .noUi-connect {
  background-color: #1a1a1a;
}
.market__slider .noUi-base {
  background-color: rgba(26, 26, 26, 0.3);
}
.market__slider .noUi-tooltip {
  bottom: -15%;
  transform: translate(-50%, 100%);
  border: none;
}
.market__slider .noUi-tooltip::before {
  content: "$";
}
.market__slider .noUi-handle {
  width: 1rem;
  height: 1rem;
  border-radius: 50% !important;
  background: #1a1a1a;
  box-shadow: none;
  border: none;
}
.market__slider .noUi-handle::before {
  content: none;
}

.product-hero {
  background-color: #efe8df;
  margin-bottom: 8rem;
  position: relative;
  font-size: 0.8rem;
}
.product-hero .swiper {
  width: 100%;
  height: 75vh;
}
.product-hero .swiper-slide {
  opacity: 0.6;
  transition: 0.5s;
  width: auto;
  height: 90%;
}
.product-hero .img-fluid {
  height: 100%;
  object-fit: cover;
}
.product-hero .swiper-slide-active {
  height: 100%;
  opacity: 1;
}
.product-hero .swiper-slide-active .img-fluid {
  transform: scaleX(1.05);
}
.product-hero .swiper-button-next,
.product-hero .swiper-rtl .swiper-button-prev {
  right: 40%;
}
@media only screen and (max-width: 62em) {
  .product-hero .swiper-button-next,
.product-hero .swiper-rtl .swiper-button-prev {
    left: 19.7rem;
  }
}
.product-hero .swiper-button-prev,
.product-hero .swiper-rtl .swiper-button-next {
  left: 40%;
}
@media only screen and (max-width: 62em) {
  .product-hero .swiper-button-prev,
.product-hero .swiper-rtl .swiper-button-next {
    left: 0;
  }
}
.product-hero .swiper-button-next:after,
.product-hero .swiper-button-prev:after {
  color: #1a1a1a;
  font-size: 1.5rem;
}
.product-hero__add {
  height: 100%;
  top: 0;
  left: 10%;
  background-color: #e8ded1;
  z-index: 10;
  padding: 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 62em) {
  .product-hero__add {
    width: 45%;
  }
}
@media only screen and (max-width: 75em) {
  .product-hero__add {
    left: unset;
    right: 0;
  }
}
.product-hero__select {
  font-size: 0.8rem;
  color: #777;
}
.product-hero .size-heading {
  float: unset;
  margin-bottom: 0;
  font-size: inherit;
}

.details {
  margin-bottom: 8rem;
}
.details__img {
  height: 100%;
  object-fit: cover;
}
.details .heading-product {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}
.details__icon {
  height: 2rem;
}

.recommendation {
  margin-bottom: 8rem;
}

.recent {
  margin-bottom: 8rem;
}

.cart {
  margin-bottom: 8rem;
}
.cart__item {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #ccc;
}
@media only screen and (max-width: 36em) {
  .cart__item {
    text-align: center;
  }
}
.cart__items-count {
  font-family: "Proza Libre", sans-serif;
  font-size: 1rem;
  color: #ccc;
}
.cart__heading {
  font-family: "Proza Libre", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.cart__action {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.cart__action::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #1a1a1a;
  transition: 0.3s;
}
.cart__form {
  background-color: #e8ded1;
}

/*# sourceMappingURL=style.css.map */
