@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
  padding-top: 4rem;
  background-color: $primary-color;
  @include borderMain(bottom, $secondary-color);

  &__link {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 10px;
    @include linksLine(0);
    &:hover::before {
      width: 100%;
    }
  }

  .icon-list {
    @include respond(xs) {
      justify-content: center;
    }
  }
}
