@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.product-card {
  @include specIconHover;
  position: relative;
  overflow: hidden;

  &__img {
    transition: $slow-transition;
  }

  &__heading {
    font-size: 1rem;
    font-weight: $text-bold;
    margin-top: 1rem;
  }

  &__cat {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  &:hover &__img {
    filter: blur(3px);
  }
}
