@use './variables' as *;

@mixin borderMain($dir, $color) {
  border-#{$dir}: 8px solid $color;
}

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: 36em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (max-width: 78.5em) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media only screen and (min-width: 78.5em) {
      @content;
    }
  }
}

@mixin specIcon($dirX, $translate) {
  position: absolute;
  top: 1rem;
  #{$dirX}: 2rem;
  cursor: pointer;
  transform: translateX($translate);
  transition: $def-transition;

  .icon {
    width: 2rem;
    height: 2rem;
    stroke: $primary-color-dark;
  }
}

@mixin specIconHover {
  &:hover .bookmark-icon,
  &:hover .cart-icon {
    transform: translateX(0);
  }
}

@mixin linksLine($width) {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: $width;
    height: 2px;
    background-color: $secondary-color;
    transition: $def-transition;
  }
}
