$head-font: 'Cormorant Garamond', serif;
$text-font: 'Proza Libre', sans-serif;

$primary-color: #e8ded1;
$primary-color-light: #efe8df;
$primary-color-dark: #bab2a7;
$secondary-color: #1a1a1a;
$accent: #f8f8f8;

$font-norm: 400;
$head-bold: 500;
$text-bold: 600;

$huge-f-size: 3.5rem;
$default-f-size: 1rem;
$icons-size: 1.5rem;

$huge-space: 10px;

$def-transition: 0.3s;
$slow-transition: 0.5s;

$def-skew: skew(-20deg);

$section-gap: 8rem;

$translate-img: translateY(-3rem);
